$primary-color: #3b0b31;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
}

.title {
  color: $primary-color;
  margin: 0;
  line-height: 1.15;
  font-size: 3em;
  text-align: center;
}

.title :hover {
  color: black;
}


.posts {
  list-style: none;
  padding: 0;
  margin: 5em 0;

  & > li {
    margin-bottom: 3em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}


// .postsContent {
//   font-weight: normal;
//   font-size: 27px;
//   line-height: 43px;
//   margin-bottom: 0.5em;
// }

// .postsDate {
//   font-weight: normal;
//   font-size: 20px;
//   line-height: 33px;
//   color: #605d5d;
// }


