
  .formContent {
    width: 100%;
    font-size: 1.4em;
    padding: 0.8em;
    font-family: "Source Sans Pro";
    min-height: 6em;
    border: 2px solid #979696;
    border-radius: 11px;
    margin-bottom: 1em;
  }

  .formButton {
    background: #9161ba;
    border-radius: 9px;
    left: 320px;
    top: 1032px;
    background: #9161ba;
    border-radius: 11px;
    color: white;
    border: none;
    padding: 1em;
    font-size: 1em;
  }

  