.postsContent {
  font-weight: normal;
  font-size: 27px;
  line-height: 43px;
  margin-bottom: 0.5em;
}

.postsDate {
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  color: #605d5d;
}
